---
http_interactions:
- request:
    method: post
    uri: https://api.pricehubble.com/auth/login/credentials
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "00000000000000000000000000000000", "expires_in":
        7200}'
  recorded_at: Thu, 10 Dec 2020 12:13:23 GMT
- request:
    method: post
    uri: https://api.pricehubble.com/api/v1/dossiers?access_token=00000000000000000000000000000000
    body:
      encoding: UTF-8
      string: '{"dealType":"sale","property":{"location":{"address":{"postCode":"22769","city":"Hamburg","street":"Stresemannstr.","houseNumber":"29"}},"propertyType":{"code":"apartment","subcode":"apartment_normal"},"buildingYear":1990,"livingArea":200,"balconyArea":30,"floorNumber":1,"hasLift":true,"isFurnished":false,"isNew":false,"renovationYear":2014,"condition":{"bathrooms":"well_maintained","kitchen":"well_maintained","flooring":"well_maintained","windows":"well_maintained","masonry":"well_maintained"},"quality":{"bathrooms":"normal","kitchen":"normal","flooring":"normal","windows":"normal","masonry":"normal"}},"countryCode":"DE","title":"My
        fancy dossier title","description":"My fancy dossier description","askingSalePrice":600000}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "e697a1e4-b76b-40a4-841b-f3ee72892785"
        }
  recorded_at: Thu, 10 Dec 2020 12:13:24 GMT
recorded_with: VCR 3.0.3
