---
http_interactions:
- request:
    method: post
    uri: https://api.pricehubble.com/auth/login/credentials
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<USERNAME>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": "Username or password is incorrect"}'
  recorded_at: Thu, 17 Oct 2019 04:05:31 GMT
recorded_with: VCR 3.0.3
