---
http_interactions:
- request:
    method: post
    uri: https://api.pricehubble.com/auth/login/credentials
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "00000000000000000000000000000000", "expires_in":
        7200}'
  recorded_at: Thu, 10 Dec 2020 12:24:56 GMT
- request:
    method: delete
    uri: https://api.pricehubble.com/api/v1/dossiers/301785bc-ec45-4183-ae58-48abd2a0f1d0?access_token=00000000000000000000000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: 'null'
  recorded_at: Thu, 10 Dec 2020 12:24:56 GMT
recorded_with: VCR 3.0.3
