---
http_interactions:
- request:
    method: post
    uri: https://api.pricehubble.com/auth/login/credentials
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "00000000000000000000000000000000", "expires_in":
        7200}'
  recorded_at: Thu, 10 Dec 2020 12:24:57 GMT
- request:
    method: delete
    uri: https://api.pricehubble.com/api/v1/dossiers/b1e2fedc-ea44-43a4-948a-2fb10747b8fe?access_token=00000000000000000000000000000000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Dossier b1e2fedc-ea44-43a4-948a-2fb10747b8fe not found."
        }
  recorded_at: Thu, 10 Dec 2020 12:24:57 GMT
recorded_with: VCR 3.0.3
