---
http_interactions:
- request:
    method: post
    uri: https://api.pricehubble.com/auth/login/credentials
    body:
      encoding: UTF-8
      string: '{"username":"<USERNAME>","password":"<PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "00000000000000000000000000000000", "expires_in":
        7200}'
  recorded_at: Wed, 16 Oct 2019 10:00:00 GMT
- request:
    method: post
    uri: https://api.pricehubble.com/api/v1/valuation/property_value?access_token=00000000000000000000000000000000
    body:
      encoding: UTF-8
      string: '{"dealType":"sale","valuationDates":["2019-10-16"],"valuationInputs":[{"property":{"location":{"address":{"postCode":"22769","city":"Hamburg","street":"Stresemannstr.","houseNumber":"29"}},"propertyType":{"code":"apartment","subcode":"apartment_normal"},"buildingYear":2999,"livingArea":200,"balconyArea":30,"floorNumber":1,"hasLift":true,"isFurnished":false,"isNew":false,"renovationYear":2014,"condition":{"bathrooms":"well_maintained","kitchen":"well_maintained","flooring":"well_maintained","windows":"well_maintained","masonry":"well_maintained"},"quality":{"bathrooms":"normal","kitchen":"normal","flooring":"normal","windows":"normal","masonry":"normal"}}}],"returnScores":false,"countryCode":"DE"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/problem+json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "buildingYear: Must be between 1850 and 2022."
        }
  recorded_at: Wed, 16 Oct 2019 10:00:00 GMT
recorded_with: VCR 3.0.3
